#info {
  z-index: 700;
}

.legend-radius {
  border-radius: 50%;
}

.legend-label {
  font-size: 12px;
}

.filter {
  position: absolute;
  right: 48px;
  width: 260px;
  font-size: 1.3em;
}

.flex-child h1, .flex-child h2 {
  color: #7a5596;
}

#locate {
  z-index: 700;
  position: absolute;
  left: 385px;
  bottom: 25px;
  width: 150px;
  text-align: center;
  font-size: 1.3em;
  background-color: #7a5596;
}
